/* 전체 컨테이너 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    background-image: url(71888.jpg);
  }
  
  /* 앨범 아트 컨테이너 */
  .album-art-container {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
  
  /* 디스크 컨테이너 스타일 */
  .disk {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 12px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out;
    z-index: 1;
  }
  
  .disk:hover {
    transform: scale(1.1);
    z-index: 2;
  }
  
  /* LP 이미지 스타일 */
  .lp-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0;
  }
  
  /* 앨범 이미지 스타일 */
  .album-image {
    position: absolute;
    top: 20.5%;
    left: 20.5%;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid #f0b5e8;
  }
  
  /* 앨범 이미지 회전 애니메이션 */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .album-image.spin {
    animation: spin 2s linear infinite;
  }
  
  /* 트랙 정보 스타일 */
  .track-info {
    text-align: center;
    margin-top: 20px;
  }
  
  .track-info h1 {
    font-size: 20px;
    margin: 0;
  }
  
  .track-info p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
  }
  
  /* 시간 정보 */
  .time-info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 14px;
    color: #333;
  }
  
  /* 진행바 스타일 */
#progress-bar {
    width: 80%;
    margin: 0 10px;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  #progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background :violet;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #progress-bar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background :violet;
    border-radius: 50%;
    cursor: pointer;
  }
  

 
  /* 컨트롤 버튼 스타일 */
.control-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .control-btn:focus {
    outline: none; /* 포커스 스타일 제거 */
  }
  
  /* 버튼 내 아이콘 이미지 스타일 */
  .control-icon {
    width: 40px; /* 아이콘 크기 */
    height: 40px; /* 아이콘 크기 */
    object-fit: contain; /* 이미지 비율 유지 */
  }
  
 
  

  /*로고*/
  /* 헤더 스타일 */
.header {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
  
  /* 로고 이미지 스타일 */
  .logo {
    width: 150px; /* 로고 크기 조정 */
    height: auto; /* 비율 유지 */
    object-fit: contain;
  }
  